@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="margin: 20px; text-align:justify;">
    <h1 class="display-4">The Identity App</h1>
    <p>
        <strong>
            Authentication and Authorization using Asp.NET Core MVC and .NET Core Identity
        </strong>
    </p>
    <hr class="my-4">
    <p>
        This application use ASP.NET Core Identity to control identity and also manage users.
    </p>
    <p>
        This app use this robust framework to back up authentication systems and provide support functionality,
        such as password reset, two-factor authentication and user registration.
    </p>
    <p>
        This application also works with Claims, Roles and Identity for Access Authorization.
    </p>
</div>
